---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Worldclass History</title>
    <link rel="stylesheet" href="../../../assets/main2.css" />
  </head>
  <body class="bg-indigo-200">
    <header>
      <h1>{{site.data[page.short].country}}</h1>
    </header>

    <div class="flex relative">
      <aside class="sidebar">
        <div class="ml-1.5 mt-4 pb-2 bg-gray-800 text-white rounded-lg">
          <div class="p-4 border-b border-gray-700">
            <h2 class="text-xl font-bold">Relevant ages</h2>
          </div>
          <nav class="mt-4">
            <ul class="space-y-2">
              {% for age in site.data[page.short].ages %}
              <li>
                <a
                  href="../../y{{ age.year }}/{{ page.short }}/timeline.html"
                  class="sidebar-link"
                  >{{ age.name }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </aside>

      <main class="flex-1 p-6">
        <details class="summa group">
          <summary class="cursor-pointer list-none flex gap-1">
            <svg
              class="svg-arrow"
              fill="none"
              height="20"
              width="21"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="-1 -1 25 25"
            >
              <circle
                cx="12"
                cy="12"
                r="12"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
              />

              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
            <p class="p-1">{{site.data[page.short].summary}}</p>
          </summary>
          <p class="my-5">{{site.data[page.short].short_history}}</p>
          <p class="my-4">
            <a href="../../rulers/{{page.short}}.html" class="fancy-button">
              List of rulers of {{site.data[page.short].country}}
            </a>
          </p>
        </details>

        <div class="container mx-auto p-6">
          <div class="relative border-l-4 border-white">
            {% for event in page.timeline %}
            <div class="mb-10 ml-6">
              <a class="timeline-datastamp"> {{event.date}} </a>
              <div class="container mx-auto p-1">
                <details class="group border-2 border-dashed border-stone-500">
                  <summary class="flex cursor-pointer items-center gap-2 px-1">
                    <svg
                      class="svg-arrow"
                      fill="none"
                      height="20"
                      width="21"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewBox="-1 -1 25 25"
                    >
                      <circle
                        cx="12"
                        cy="12"
                        r="12"
                        stroke="currentColor"
                        stroke-width="2"
                        fill="none"
                      />

                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>

                    <div class="text-lg font-semibold text-gray-900 px-2 py-1">
                      <p>{{event.short_desc}}</p>
                    </div>
                  </summary>

                  <p class="m-2 text-gray-600">{{event.long_desc}}</p>
                </details>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
